@using test.Models
@model FuncaoModel
@{
    ViewBag.Title = "Criação de Funções";
}


<form action="/Funcao/Salvar" id="formFuncao" method="post">
    <div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-funcao" name="Nome" />
                </div>
                <div><span id="nomeAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome em Ingles
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-ingles-funcao" name="Nome_Ingles" />
                </div>
                <div><span id="nomeInglesAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Ativo
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="checkbox" class="input" id="ativo-funcao" name="Ativo" />
                </div>
            </div>
        </div>
    </div>
</form>
