@using test.Models
@model List<FuncaoModel>
@{
    ViewBag.Title = "Index";
    List<FuncaoModel> funcoes = ViewBag.Funcoes;
}
<br />
<br />
<button type="button"class="btn btn-dark" data-toggle="modal" data-target="#cadastroModal" onclick="loadFormFuncao()"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: #ffffff;"></span> Cadastrar</button>

<div class="modal fade" id="cadastroModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Cidades</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="bodyModal">

            </div>
            <div class="modal-footer mb-3">
                <button type="submit" class="btn btn-atualizar" onsubmit="() => ValidateFuncao()" onclick="submitFormFuncao()"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #ffffff;"></span> Cadastrar</button>
                <button type="reset" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="color: #000000;"></span> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Função</th>
                <th scope="col">Function</th>
                <th scope="col">Ativa</th>
            </tr>
        </thead>
        <tbody>
            @if (funcoes != null && funcoes.Any())
            {
                foreach (FuncaoModel funcao in funcoes)
                {
                    <tr>
                        <td scope="row">@funcao.Nome</td>
                        <td>@funcao.Nome_Ingles</td>
                        <td>
                            @if (funcao.Ativo)
                            {
                                <img src="~/Content/Images/checked.png" />
                            }
                            else
                            {
                                <img src="~/Content/Images/nonChecked.png" />
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
<script>
    async function loadFormFuncao() {
        const urlFormulario = '/Funcao/Criar';

        let response = await fetch(urlFormulario);
        let parsedResponse = await response.text();

        document.getElementById('bodyModal').innerHTML = parsedResponse;
    }
    function submitFormFuncao() {
        const form = document.getElementById('formFuncao');

        if (!form) {
            console.error("Formulário não encontrado")
            return;
        }
        var isValid = ValidateFuncao();
        if (isValid) {
            const funcao = {
                Nome: document.getElementById('nome-funcao').value,
                Nome_Ingles: document.getElementById('nome-ingles-funcao').value,
                Ativo: document.getElementById('ativo-funcao').checked
            };
            const json = JSON.stringify(funcao);
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/Funcao/Salvar",
                data: json,
                processData: false,
                cache: false,
                timeout: 800000
            });
            setTimeout(() => window.location.reload(), 500);
        } else {
            console.log("Formulario inválido! Verifique os campos");
        }
    }
</script>

