@using test.Models
@model EstadoModel
@{
    ViewBag.Title = "Criar";
}

@using (Html.BeginForm("Salvar", "Estado", FormMethod.Post, new { @id = "formEstado" }))
{
    <div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">@Html.LabelFor(model => model.Nome)</label>
            </div>
            <div class="div-input-validatiton">
                <div>@Html.TextBoxFor(model => model.Nome, new { @class = "input", id = "nome" })</div>
                <div><span id="nomeAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">@Html.LabelFor(model => model.Siglas)</label>
            </div>
            <div class="div-input-validatiton">
                <div>@Html.TextBoxFor(model => model.Siglas, new { @class = "input", id = "siglas" })</div>
                <div><span id="siglasAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
    </div>

}

