@using test.Models
@model List<EstadoModel>
@{
    ViewBag.Title = "Index";
}

<br />
<br />

<button type="button" data-toggle="modal" data-target="#cadastroModal" onclick="loadFormEstado()">Cadastrar</button>

<div class="modal fade" id="cadastroModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Cidades</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="bodyModal">

            </div>
            <div class="modal-footer mb-3">
                <button type="submit" class="btn btn-atualizar" onsubmit="() => ValidateEstado()" onclick="submitFormEstado()"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #ffffff;"></span> Cadastrar</button>
                <button type="reset" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="color: #000000;"></span> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Estado</th>
                <th scope="col">Siglas</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EstadoModel estado in Model)
                {
                    <tr>
                        <th scope="row">@estado.Nome</th>
                        <td>@estado.Siglas</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
<script>
    async function loadFormEstado() {
        const urlFormulario = '/Estado/Criar';

        let response = await fetch(urlFormulario);
        let parsedResponse = await response.text();

        document.getElementById('bodyModal').innerHTML = parsedResponse;
    }
    function submitFormEstado() {
        const form = document.getElementById('formEstado');

        if (!form) {
            console.error("Formulário não encontrado")
            return;
        }
        var isValid = ValidateEstado();
        if (isValid) {
            form.submit();
        } else {
            console.log("Formulario inválido! Verifique os campos");
        }
    }
</script>