@using test.Models
@model SetorModel
@{
    ViewBag.Title = "Criação de Setor";
}

<form action="/Setor/Salvar" id="formSetor" method="post">
    <div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-setor" name="Nome" />
                </div>
                <div><span id="nomeAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome em Ingles
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="nome-ingles-setor" name="Nome_Ingles"/>
                </div>
                <div><span id="nomeInglesAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Ativa
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="checkbox" class="input" id="ativo-setor" name="Ativo" value="" />
                </div>
            </div>
        </div>
    </div>
</form>
