@using test.Models
@model List<SetorModel>
@{
    ViewBag.Title = "Index";
    List<SetorModel> setores = ViewBag.Setores;
}
<br />
<br />
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cadastroModal" onclick="loadFormSetor()"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="color: #ffffff;"></span> Cadastrar</button>

<div class="modal fade" id="cadastroModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de Setor</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="bodyModal">

            </div>
            <div class="modal-footer mb-3">
                <button type="submit" class="btn btn-atualizar" onsubmit="() => ValidateSetor()" onclick="submitFormSetor()"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #ffffff;"></span> Confirmar</button>
                <button type="reset" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true" style="color: #000000;"></span> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Setor</th>
                <th scope="col">Sector</th>
                <th scope="col">Ativo</th>
            </tr>
        </thead>
        <tbody>
            @if (setores != null && setores.Any())
            {
                foreach (SetorModel setor in setores)
                {
                    <tr>
                        <td scope="row">@setor.Nome</td>
                        <td>@setor.Nome_Ingles</td>
                        <td>
                            @if (setor.Ativo)
                            {
                                <img src="~/Content/Images/checked.png" />
                            }
                            else
                            {
                                <img src="~/Content/Images/nonChecked.png" />
                            }

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
<script>
    async function loadFormSetor() {
        const urlFormulario = '/Setor/Criar';

        let response = await fetch(urlFormulario);
        let parsedResponse = await response.text();

        document.getElementById('bodyModal').innerHTML = parsedResponse;
    }
    function submitFormSetor() {
        const form = document.getElementById('formSetor');

        if (!form) {
            console.error("Formulário não encontrado")
            return;
        }
        var isValid = ValidateSetor();
        if (isValid) {
            if (isValid) {
                const setor = {
                    Nome: document.getElementById('nome-setor').value,
                    Nome_Ingles: document.getElementById('nome-ingles-setor').value,
                    Ativo: document.getElementById('ativo-setor').checked
                };
                const json = JSON.stringify(setor);
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/Setor/Salvar",
                    data: json,
                    processData: false,
                    cache: false,
                    timeout: 800000
                });
                setTimeout(() => window.location.reload(), 500);
            } else {
                console.log("Formulario inválido! Verifique os campos");
            }
        } else {
            console.log("Formulario inválido! Verifique os campos");
        }
    }
</script>

