@using test.DTOs;
@model ExameDTO
@{
    ViewBag.Title = "Criar";
}
<form action="/Exame/Salvar" id="formExame" method="post">
    <div>
        <div class="div-form mb-3">
            <div>
                <label for="nome-exame" class="lb-class">
                    Nome
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" name="Nome_Exame" class="input" id="nome-exame" onblur="onBlurExame(event)" required />
                </div>
                <datalist id="nome-exame-lista">

                    @foreach (var nome in ViewBag.NomeExame)
                    {
                        <option value="@nome"></option>
                    }
                </datalist>
                <div><span id="nomeExameAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome em Ingles
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" name="Nome_Exame_Ingles" id="nome-exame-ingles" required />
                </div>
                <div><span id="nomeExameInglesAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Nome Laboratorial
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" name="Nome_Laboratorial" id="nome-laboratorial" required />
                </div>
                <div><span id="nomeLaboratorialAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    MNE Solicitação
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" name="MNE_Solicitacao" class="input" id="mne-solicitacao" required />
                </div>
                <div><span id="mneSolicitacaoAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Tipo Resultado
                </label>
            </div>
            <div class="div-input-validatiton">
                <select name="" class="input" style="width: 177.27px; height:21.82px;" disabled>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Exame de Custo
                </label>
            </div>
            <div class="div-input-validatiton">
                <select name="Exame_Custo" class="input" id="exame-custo" style="width: 177.27px; height: 21.82px;">
                    <option></option>
                    @foreach (var exameTabelado in ViewBag.NomeExameTabelado)
                    {
                        <option value="">@exameTabelado</option>
                    }
                </select>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Cod.eSocial
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="cod-categoria-esocial-exame" name="Cod_Categorial_eSocial" required />
                </div>
                <div><span id="codCategorialESocialAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="div-form mb-3">
            <div>
                <label class="lb-class">
                    Unidade de Medida
                </label>
            </div>
            <div class="div-input-validatiton">
                <div>
                    <input type="text" class="input" id="unidade-medida" name="Unidade_Medida" required />
                </div>
                <div><span id="unidadeMedidaAlert" class="text-danger size-text-danger"></span></div>
            </div>
        </div>
        <div class="container-parametro-normalidade">
            <b>Parâmetros de Normalidade</b>
            <div class="div-parametro-normalidade">
                <select class="input" style="width:30%;" disabled>
                    <option value=""></option>
                </select>
                <input type="text" class="input" style="margin-left: 5px;" required disabled />
            </div>
        </div>
        <div class="container-cb-main">
            <div class="check-container">
                <div class="container-sexo">
                    <b>Sexo</b>
                    <div class="checkbox">
                        <label for="masculino">
                            <input type="checkbox" class="input" id="masculino" name="Masculino" />
                            Masculino
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="feminino">
                            <input type="checkbox" class="input" id="feminino" name="Feminino" />
                            Feminino
                        </label>
                    </div>
                </div>
                <div class="container-tipo-aso">
                    <b>Tipo de exame</b>
                    <input type="hidden" name="Tipo" value="true" id="tipo" />
                    <div class="checkbox">
                        <label for="tipo-laboratorial">
                            <input type="checkbox" class="input" id="tipo-laboratorial" onclick="unSelectOption('tipo-imagem')" />
                            Exame Laboratorial
                        </label>
                    </div>
                    <div class="checkbox">
                        <label for="tipo-imagem">
                            <input type="checkbox" class="input" id="tipo-imagem" onclick="unSelectOption('tipo-laboratorial')" checked />
                            Exame de Imagem
                        </label>
                    </div>
                </div>
            </div>
            <div class="container-ficha-aso-ativo">
                <div class="checkbox">
                    <label for="exibficha">
                        <input type="checkbox" class="input" id="exibficha" />
                        Exibir Ficha
                    </label>
                </div>
                <div class="checkbox">
                    <label for="exibaso">
                        <input type="checkbox" class="input" id="exibaso" />
                        Exibir ASO
                    </label>
                </div>
                <div class="checkbox">
                    <label for="ativo-exame">
                        <input type="checkbox" class="input" id="ativo-exame"/>
                        Ativo
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
